header {
  width: 100%;
  background-color: #9da5b4;
  padding: 15px; }

.container {
  width: 500px;
  margin: 0 auto;
  padding: 25px 0;
  overflow: hidden; }
  .container aside {
    width: 35%;
    float: left; }
  .container section {
    width: 60%;
    float: right;
    margin-left: 5%; }

footer {
  width: 100%;
  background-color: #282c34;
  padding: 15px;
  color: white; }
