header {
  width: 100%;
  background-color: rgba(157,165,180,1);
  padding: 15px;
}

.container {
  width: 500px;
  margin: 0 auto;
  padding: 25px 0;
  overflow: hidden;

  aside {
    width: 35%;
    float: left;
  }

  section {
    width: 60%;
    float: right;
    margin-left: 5%;
  }

}

footer {
  width: 100%;
  background-color: rgba(40,44,52,1);
  padding: 15px;
  color: white;
}
